@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Playfair+Display&family=Press+Start+2P&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

@property --crt-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

:root {
    --bg-color: #121010;
}

@layer base, crt;

@layer base {
    body {
        background: var(--bg-color);
        display: grid;
        place-items: center;
        min-height: 100dvh;

        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

        color: #eee;
    }

    main {
        display: grid;
        place-items: start;
        gap: 16px;
    }

    .ric-link {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }

    a svg {
        width: 60px;
        height: auto;

        transition: transform 0.2s, filter 0.2s;
    }

    a svg:hover {
        transform: scale(1.2) rotate(-10deg);
        filter: drop-shadow(rgba(255 255 255 / 0.2) 0 2px 10px);
    }

    /* hide the original input element */
    #switch {
        display: none;
    }

    .switch-label {
        display: inline-block;
        cursor: pointer;
        background: #fff;
        color: #111;
        padding: 0.5rem 1rem !important;
        border-radius: 5px;
        margin-top: 10px;
        box-shadow: 0 2px #666;
    }

    .switch-label::after {
        content: "on";
    }

    .switch-label::before {
        content: " ";
        display: inline-block;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background: #003321;
        margin-right: 10px !important;
        border: 1px solid #111;
    }

    .switch-label:active {
        box-shadow: none;
        transform: translate3d(0, 2px, 0);
    }

    #switch:checked + .switch-label {
        &::before {
            background: #22ff55;
        }
        &::after {
            content: "off";
        }
    }
}

@layer crt {
    .container {
        background: var(--bg-color);

        font-size: 2rem;
        letter-spacing: 0.125rem;

        display: grid;
        place-items: center;
        gap: 40px;
        padding: 2rem;

        width: 800px;
        aspect-ratio: 4 / 3;

        position: relative;
        border: 3px solid rgb(14, 201, 14);

        overflow: hidden;

        animation: textflicker 150ms infinite alternate;
    }

    #switch:checked ~ .container::before {
        content: "";
        position: absolute;
        inset: 0;

        background-image: linear-gradient(
                0deg,
                transparent,
                rgba(255 255 255 / 0.4) 30px,
                transparent 60px
        );
        background-size: 100% var(--crt-position);
        background-repeat: no-repeat;
        z-index: 2;

        filter: blur(10px) hue-rotate(90deg);

        pointer-events: none;

        animation: move 16s linear 4s infinite reverse;
    }

    .container::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
                rgba(18, 16, 16, 0) 50%,
                rgba(0, 0, 0, 0.25) 50%
        ),
        linear-gradient(
                90deg,
                rgba(255, 0, 0, 0.06),
                rgba(0, 255, 0, 0.02),
                rgba(0, 0, 255, 0.06)
        );
        background-size: 100% 5px, 3px 100%;
        z-index: 2;
        pointer-events: none;
    }

    #switch:checked ~ .container::after {
        animation: flicker 0.15s infinite;
    }

    .screen {
        width: 100%;
        height: 100%;
        border: none;
        background: #222;
    }

    #switch ~ .container > .screen {
        animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
        animation-fill-mode: forwards;
    }

    #switch:checked ~ .container > .screen {
        animation: turn-on 4s linear;
        animation-fill-mode: forwards;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-align: center;
        height: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .title {
        font-family: "Oxanium", sans-serif;
        font-weight: 200;
        font-size: 2.5rem;
    }

    .title span {
        font-family: system-ui, sans-serif;
    }

    .sony-logo {
        --size: 180px;

        width: var(--size);
        height: var(--size);

        filter: blur(0.8px);
    }

    .alternate-text {
        font-family: "Press Start 2P", system-ui;
        font-size: 1rem;
    }

    .overlay {
        color: #00ff00;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 60px;
        visibility: hidden;
        pointer-events: none;
    }

    #switch:checked ~ .container .overlay {
        animation: overlay-anim 5s linear;
        animation-fill-mode: forwards;
    }

    @keyframes overlay-anim {
        0% {
            visibility: hidden;
        }
        20% {
            visibility: hidden;
        }
        21% {
            visibility: visible;
        }
        100% {
            visibility: hidden;
        }
    }

    @keyframes move {
        0% {
            opacity: 0;
            --crt-position: 100%;
        }
        28% {
            opacity: 0;
            --crt-position: 100%;
        }
        30% {
            opacity: 1;
        }
        58% {
            opacity: 1;
        }
        60% {
            opacity: 0;
            --crt-position: 0%;
        }
        100% {
            opacity: 0;
            --crt-position: 0%;
        }
    }

    @keyframes flicker {
        0% {
            opacity: 0.27861;
        }
        5% {
            opacity: 0.34769;
        }
        10% {
            opacity: 0.23604;
        }
        15% {
            opacity: 0.90626;
        }
        20% {
            opacity: 0.18128;
        }
        25% {
            opacity: 0.83891;
        }
        30% {
            opacity: 0.65583;
        }
        35% {
            opacity: 0.67807;
        }
        40% {
            opacity: 0.26559;
        }
        45% {
            opacity: 0.84693;
        }
        50% {
            opacity: 0.96019;
        }
        55% {
            opacity: 0.08594;
        }
        60% {
            opacity: 0.20313;
        }
        65% {
            opacity: 0.71988;
        }
        70% {
            opacity: 0.53455;
        }
        75% {
            opacity: 0.37288;
        }
        80% {
            opacity: 0.71428;
        }
        85% {
            opacity: 0.70419;
        }
        90% {
            opacity: 0.7003;
        }
        95% {
            opacity: 0.36108;
        }
        100% {
            opacity: 0.24387;
        }
    }

    @keyframes textflicker {
        from {
            text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
        }
        to {
            text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
        }
    }

    @keyframes turn-on {
        0% {
            transform: scale(1, 0.8) translate3d(0, 0, 0);
            -webkit-filter: brightness(30);
            filter: brightness(30);
            opacity: 1;
        }
        3.5% {
            transform: scale(1, 0.8) translate3d(0, 100%, 0);
        }

        3.6% {
            transform: scale(1, 0.8) translate3d(0, -100%, 0);
            opacity: 1;
        }

        9% {
            transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
            -webkit-filter: brightness(30);
            filter: brightness(30);
            opacity: 0;
        }

        11% {
            transform: scale(1, 1) translate3d(0, 0, 0);
            -webkit-filter: contrast(0) brightness(0);
            filter: contrast(0) brightness(0);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1) translate3d(0, 0, 0);
            -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
            filter: contrast(1) brightness(1.2) saturate(1.3);
            opacity: 1;
        }
    }

    @keyframes turn-off {
        0% {
            transform: scale(1, 1.3) translate3d(0, 0, 0);
            -webkit-filter: brightness(1);
            filter: brightness(1);
            opacity: 1;
        }
        60% {
            transform: scale(1.3, 0.001) translate3d(0, 0, 0);
            -webkit-filter: brightness(10);
            filter: brightness(10);
        }
        100% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: scale(0, 0.0001) translate3d(0, 0, 0);
            -webkit-filter: brightness(50);
            filter: brightness(50);
        }
    }
}
